main {
    width: 100%;
    
    &:before {
        display: none;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40rem;
        background-color: $picton-blue;
        z-index: -1;

        @include larger-than(tablet) {
            display: block;        
        }
    }
}