html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

body, h1, p, div, section, ul, li, a, button, input, label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}